<%= provide(:title, "sign in") %>

<% content_for :breadcrumb do %>
  <li>
    <%= link_to 'Home', root_path %><span class="divider">/</span>
  </li>
  <li>
    <%= link_to "Signin", signin_path %>
  </li>
<% end %>

<%= form_for :session, :url => sessions_path, :html => { :class => "form-horizontal" } do |f| %>
 

  <div class="control-group">
    <%= f.label :email, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :email, :placeholder => "email" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password, :class => "control-label" %>
    <div class="controls">
      <%= f.password_field :password, :placeholder => "password" %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
    
      <%= f.submit "Singin", :class => "btn btn-large btn-primary" %>
    </div>
  </div>
<% end %>

<p>
  New user? <%= link_to "Sign up now!", signup_path %>
</p>
