<div class="row">
  <div class="span2 offset1">
    <%= link_to comment.user.username, comment.user %>
  </div>
  <div class="span3 offset1">
    <%= time_ago_in_words(comment.updated_at.localtime) %> ago
  </div>

</div>
<div class="row offset1">
  <%= comment.content %>
</div>
<div class="row border-b">
  <div class="span1 offset2">

  </div>

  <div class="span1 pull-right">
    <%= link_to "",[@topic, comment], :class => "icon-remove", :method => :delete, 
                    :confirm => "are your sure delete comment?",
                    :title => "remove comment" %>
  </div>
  <div class="span1 pull-right">
    <%= link_to "",edit_topic_comment_path(@topic, comment), :class => "icon-edit",
                    :title => "edit comment" %>
  </div>
</div>

