<%= provide(:title, "edit topic") %>

<% content_for :breadcrumb do %>
  <li>
    <%= link_to "Home", root_path %><span class="divider">/</span>
  </li>
  <li>
    <%= link_to "Topics", topics_path %><span class="divider">/<span>
  </li>

  <li>
    <%= link_to "Edit Topic", edit_topic_path(@topic) %>
  </li>
<% end %>

<%= form_for @topic, :url => topics_path, :html => { :class => "form-horizontal" } do |f| %>

  <%= render 'layout/error_messages', :target => @topic

  <div class="control-group">
    <%= f.label :title, :class => "control-label" %>
    <div class="controls">
      <%= f.text_field :title %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :node_id, "Node", :class => "control-label" %>
    <div class="controls">
      <%= f.select :node_id, @nodes.collect{ |node| [node.title, node.id]} %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :content, :class => "control-label" %>
    <div class="controls">
      <%= f.text_area :content, :rows => 10, :cols => 30 %>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit "Save Topic", class: "btn btn-large btn-primary"%>
    </div>
  </div>
<% end %>
