<%= provide(:title, "edit topic") %>

<% content_for :breadcrumb do %>
  <li>
    <%= link_to "Home", root_path %><span class="divider">/</span>
  </li>
  <li>
    <%= link_to "Topics", topics_path %><span class="divider">/<span>
  </li>

  <li>
    <%= link_to "Edit Topic", edit_topic_path(@topic) %>
  </li>
<% end %>

<%= render 'form' %>
