<%= provide(:title, @user.username) %>

<% content_for :breadcrumb do %>

  <li>

    <%= link_to "Home", root_path %>
    <span class="divider">/</span>
  </li>
  <li>
    <%= link_to "Users", users_path %><span class="divider">/</span>
  </li>
  <li>
    <%= link_to @user.username, @user %>
  </li>
<% end %>

<div class="row">
  <div class="span2 offset1">
    username
  </div>

  <div class="span5">
    <%= @user.username %>
  </div>
</div>
<div class="row">
  <div class="span2 offset1">
    email:
  </div>

  <div class="span5">
    <%= @user.email %>
  </div>
</div>
<div class="row">
  <div class="span2 offset1">
    <%= link_to "Edit", edit_user_path(@user.id), :class => "btn btn-lareg btn-primary" %>
  </div>
</div>
