<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield :title) %>  </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/header' %>

  <%= render 'layouts/breadcrumb' %>

  <% if flash[:notice] %>
  <div class="container mbt">
    <div class="alert">
      <%= flash[:notice] %>
    </div>
  </div>
  <% end %>

  <div class="container border mbt">
    <div class="row-fluid">
       <div class="span8 p10">
  
          <%= yield %>
       </div>
       <div class="span4 p10">
           <% if signed_in? %>
           <div class"box corner5">
             <%= link_to "New Topic", new_topic_path, :class => "btn btn-large btn-primary" %>
           </div>
           <% end %>
            
           <div class="box corner5">
             <h2 class="font14px">热门话题</h2>
             <ul>
               <li><a href="#">天气冷</a></li>
               <li><a href="#">天气冷</a></li>
               <li><a href="#">天气冷</a></li>
               <li><a href="#">天气冷</a></li>
             </ul>
           </div>
           <div class="box corner5">
             <h2 class="font14px">活跃话题</h2>
              <ul>
               <li><a href="#">天气冷</a></li>
               <li><a href="#">天气冷</a></li>
               <li><a href="#">天气冷</a></li>
               <li><a href="#">天气冷</a></li>
             </ul>
           </div>
      </div>
    </div>
  </div>


  <%= render 'layouts/footer' %>

</body>
</html>
